@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Show Games", "Index", "Games")
            </li>
            <li>
                @Html.ActionLink("Show Achivments", "Index", "Achivments")
            </li>
            @if (Session["admin"] != null)
            {
                if (Session["admin"].ToString() == "akto1993@gmail.com")
                {
                    <li style ="color: white;">
                        witaj Administratorze!
                    </li>
                }
            }

        </ul>
}
